@{
    ViewBag.Title = "Add Movie";
}
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
          <h3>Ticket <span>Details</span></h3>
          <form id="contacts-form" action="#">
            <fieldset>
              <div class="field">
                <label>Movie Name:</label>
                <input type="text" value=""/>
              </div>
              <div class="field">
                <label>Director:</label>
                <input type="text" value=""/>
              </div>
              <div class="wrapper"> <input type="submit" class="link2" style="clear:both" /> </div>
            </fieldset>
          </form>
 </div>
