
      <div id="content">
        <div class="line-hor"></div>
        <div class="box">
          <div class="border-right">
            <div class="border-left">
              <div class="inner">
                <h3>Ticket <span>Prices</span></h3>
                  <h4>2D Movie Ticket: Rs.400</h4>
                  <h4>3D Movie Ticket: Rs.600 (Glasses Included)</h4>
                <ul class="policy-list">
                    <li>* Tickets are not refundable - Nor Exchangeable - Non Transferable</li>
                    <li>* Kindly check the date, time and name of the film on the ticket.</li>
                    <li>* Management will not be responsible if you do not attend the show which is mentioned on the ticket.</li>
                    <li>* Strictly no Smocking inside the facility.</li>
                    <li>* Recording with mobile camera or any other Camera is strictly prohibited.</li>
                    <li>* use of mobile phones are not allowed in auditorium.</li>
                    <li>* Children under 5 year are not allowed in the auditorium.</li>
                    <li>* No outsider eatables or drinks are allowed in the facility.</li>
                    <li>* Ticket has to be in your possession for the entire duration of your visit.</li>
                    <li>* The management reserves the right to deny entry if you are unable to produce the ticket at any time within the show time.</li>
                    <li>* if for any reason the film is no exhibited on the date & time mentioned then your are entitled to obtain 100% refund.</li>
                    <li>* Kindly look after your valuables. Management does not take any responsibility if you lose anything within the premises of the cinema facility.</li>
                    <li>* Rights of Admission are reserved (management reserves the right to deny entry or ask anyone to leave the premises anytime without assigning any reason whatsoever).</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      